.dashboard {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: flex-end; /* Move the content to the right side */
  }
  
  .sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  /* .language-switcher,
  .user-info {
    font-size: 16px;
  } */
  
  
  .overview h1 {
    font-size: 24px;
  }
  
  .overview p {
    font-size: 18px;
  } 
  
  .overview-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card {
    /* flex: 1; */
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 260px;
  }

  #ss{
    color: white;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .earnings {
    background-color: #ff4081;
    color: #fff;
  }
  
  .orders {
    background-color: #ff7043;
    color: #fff;
  }
  
  .customers {
    background-color: #7e57c2;
    color: #fff;
  }
  
  .products {
    background-color: #42a5f5;
    color: #fff;
  }
  
  .order-stats {
    margin-top: 40px;
  }
  
  .order-stats h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .stats-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .stat-card {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 260px;
    height: 100px; /* Adjusted height to accommodate the content */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  #Earnings {
    color: white;
  }
  
  #Orders {
    color: white;
  }
  
  #Customers {
    color: white;
  }
  
  #Products {
    color: white;
  }
  
  #Pending {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  
  .pending {
    display: flex;
    align-self: center;
    gap: 5px;
  }
  
  .pending-label {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  #p{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 15px;
  }
  
  .zero {
    margin-top: -23px; 
    font-weight: 700;
  }
  